<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794074224655-2t5epf3hv6ki4uo6blv6o9gkjpcko33e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794074224655-2t5epf3hv6ki4uo6blv6o9gkjpcko33e</string>
	<key>API_KEY</key>
	<string>AIzaSyA4_7TxvlH3J_np-MBq1ri_uZEtJiv8W00</string>
	<key>GCM_SENDER_ID</key>
	<string>794074224655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportTimer</string>
	<key>PROJECT_ID</key>
	<string>interval-music-timer</string>
	<key>STORAGE_BUCKET</key>
	<string>interval-music-timer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794074224655:ios:0aec0f8402f25ddd0cab7a</string>
</dict>
</plist>